body{
    background-color: aquamarine;
}
.topo{
    background-color: blue;
    height: 200px;
    padding: 30%;
    color: blueviolet;
     }
     .corpo{ 
        background-color: black;
        text-align: center;
        min-height: 400%;
     }
     .rodape{

     }fixed
